body {
  display: grid;
  box-shadow: 0 0 20px cadetblue;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(tomato, palevioletred, indianred, chocolate, gold, burlywood, lightyellow,  lemonchiffon, indianred );
  margin: 0;
}


.calculator {
  background-color: hotpink;
  box-shadow: 0 0 20px black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px greys;
}

.display {
  font-size: 9em;
  font-family: monospace;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 20px cadetblue;
  background-color: lightsalmon;
  box-shadow: 0 0 20px black;
  color: darkgoldenrod;
  border-radius: 5px;
  text-align: right;
}

.buttons {
  display: grid;
  box-shadow: 0 0 20px grey;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 0 20px grey;
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 3em;
  border: none;
  box-shadow: 0 0 20px khaki;
  background-color: palevioletred;
  color: lightpink;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: thistle;
}

.btn-clear {
  background-color: darksalmon;
}

.btn-clear:hover {
  background-color: #218838;
}
